<div class="wrapper">
  <div class="top-heading">
    <h1>SpaceX Launch Programs</h1>
  </div>

  <div class="innerWrap">
    <div class="filters clearfix">
      <h3>Filters</h3>
      <p>Launch Year</p>
      <p class="borderBottom"></p>

      <span class="btn active"> 2006</span>
      <span class="btn">2007</span>
      <span class="btn">2008</span>
      <span class="btn">2009</span>
      <span class="btn">2010</span>
      <span class="btn"> 2011</span>
      <span class="btn">2012</span>
      <span class="btn">2013</span>
      <span class="btn">2014</span>

      <p class="successfulLaunch">Successful Launch</p>
      <p class="borderBottom"></p>

      <span class="btn launch">True</span>
      <span class="btn launch">False</span>

      <p class="successfulLaunch">Successful Landing</p>
      <p class="borderBottom"></p>

      <span class="btn launch">True</span>
      <span class="btn launch">False</span>

    </div>


    <div class="rightSide">
      <ul>
        <li>
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>

        <li>
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>
        <li>
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>

        <li>
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>
      </ul>
    </div>


    <div class="rightSide">
      <ul>
        <li>
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>

        <li>
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>
        <li>
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>

        <li>
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>
      </ul>
    </div>

  </div>
</div>