* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: #f1f1f1;
  padding: 10px 20px;
  float: left;
  width: 100%;
}
.top-heading h1 {
  font-size: 25px;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.filters {
  width: 20%;
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 0;
  margin: 20px 0px;
  float: left;
}
.filters >h3{
  padding-left: 15px;
}
.filters p {
  text-align: center;
  font-size: 14px;
  padding: 10px 0 0;
}
.filters .btn {
  background: lawngreen;
  color: #333;
  font-size: 15px;
  border-radius: 3px;
  padding: 5px 12px;
  /* margin: 12px 17px 5px; */
  display: inline-block;
  cursor: pointer;
  width: 40%;
  margin-bottom: 10px;
}

.filters .btn:nth-child(n) {
  margin-left: 7%;
}
.active
{
  background: darkseagreen !important;
  color: #fff !important;
}
.borderBottom {
  border-top: 1px solid #ddd;
  display: block;
  width: 80%;
  margin: 5px auto;
}
.filters .successfulLaunch {
  padding: 20px 0 0;
}

.rightSide {
  width: 80%;
  float: right;
  margin: 20px 0 0 0px;
  padding-left: 25px;
}
.rightSide > ul > li {
  width: 22%;
  border: 1px solid #fff;
  background: #fff;
  list-style: none;
  padding: 20px;
  border-radius: 6px;
  margin: 0 12px 0 5px;
  float: left;
  /* height: 410px; */
}

.rightSide ul li strong {
  color: darkblue;
  line-height: 27px;
  padding: 15px 0;
  display: inline-block;
}
.rightSide ul li:last-child {
  margin-right: 0;
  margin-left: 15px;
}

.rightSide ul li:nth-child(n+5) {
  margin-top: 30px;;
}
.rocketImage {
  background: #f1f1f1;
  display: block;
  padding: 0 10px;
}

.rocketImage img{
  width: 100%;
}

.rightSide ul li > h5 {
  font-size: 15px;
}
#missionId {
  margin-left: 10px;
  color: blue;
  font-size: 16px;
  line-height: 25px;
  list-style: disc;
}
.launchHeading {
  font-size: 15px;
  padding: 10px 5px 0 0;
  display: inline-block;
  line-height: 22px;
}
#launchYear {
  color: blue;
  font-size: 15px;
  font-weight: 500;
}

/*responsive*/
@media only screen and (max-width: 700px) {
  .rocketImage {
    text-align: center;
  }
  .rocketImage img{
    width: 100%;
  }
  .filters {
    width: 100%;
    margin-bottom: 0;
    border-radius: 6px;
    padding:20px 10px;
  }
  .filters .btn{
    padding: 8px 17px;
  }
  .rightSide {
    width: 100%;
    float: left;
    padding-left: 0;
  }
  .rightSide > ul > li {
    margin-left: 0;
    width: 100%;
    margin-right: 0;
  }
  .rightSide ul li:nth-child(n+2) {
    margin-top: 20px;;
  }
  .rightSide > ul > li:last-child {
    margin-left: 0;
  }
  .top-heading > h1 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .filters {
    width: 30%;
  }
  .rightSide {
    width: 70%;
  }
  .rightSide > ul > li {
    width: 45%;
    margin: 0 4px 25px 15px;
    /* height: 410px; */
    float: left;
  }
  .rightSide ul li:nth-child(n+2) {
    margin-top: 5px;;
  }
}

@media only screen and (min-width: 1024px) {
  .rightSide > ul > li {
    height: 410px;
  }
}