<div class="wrapper">
  <div class="top-heading">
    <h1>SpaceX Launch Programs</h1>
  </div>

  <div class="innerWrap">
    <div class="filters clearfix">
      <h3>Filters</h3>
      <p>Launch Year</p>
      <p class="borderBottom"></p>

      <span class="btn" [class.active]="launchYear.active" (click)="navigateTo('launch_year', launchYear.year)" *ngFor="let launchYear of filter.launchYears">
        {{launchYear.year}}
      </span>      

      <p class="successfullLaunch">Successful Launch</p>
      <p class="borderBottom"></p>

      <!-- {{filter.successfullLaunch | json}} -->
      <span class="btn launch" [class.active]="filter?.successfullLaunch === 'true'" (click)="navigateTo('launch_success', true)">True</span>
      <span class="btn launch" [class.active]="filter?.successfullLaunch != null && filter?.successfullLaunch === 'false'" (click)="navigateTo('launch_success', false)">False</span>

      <p class="successfullLaunch">Successful Landing</p>
      <p class="borderBottom"></p>

      <span class="btn launch" [class.active]="filter?.successfullLand === 'true'" (click)="navigateTo('land_success', true)">True</span>
      <span class="btn launch" [class.active]="filter?.successfullLand !=null && filter?.successfullLand === 'false'" (click)="navigateTo('land_success', false)">False</span>

    </div>


    <div class="rightSide">
      <ul>
        <li *ngFor="let spaceProgram of spacePrograms">
          <div class="rocketImage">
            <img src="{{spaceProgram?.links?.mission_patch_small}}" style="width:100%">
          </div>
          <strong>{{spaceProgram?.mission_name}}</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li *ngFor="let id of spaceProgram?.mission_id">
              {{id}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">{{spaceProgram?.launch_year}}</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">{{spaceProgram?.launch_success}}</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{spaceProgram?.rocket?.first_stage?.cores[0]?.land_success}}</span>
        </li>        
      </ul>
    </div>

  </div>
</div>