<div class="wrapper">
  <div class="top-heading">
    <h1>SpaceX Launch Programs</h1>
  </div>

  <div class="innerWrap">
    <div class="filters clearfix">
      <h3>Filters</h3>
      <p>Launch Year</p>
      <p class="borderBottom"></p>

      <span class="btn" [class.active]="launchYear.active" (click)="navigateTo('launch_year', launchYear.year)" *ngFor="let launchYear of filter.launchYears">
        {{launchYear.year}}
      </span>      

      <p class="successfulLaunch">Successful Launch</p>
      <p class="borderBottom"></p>

      <span class="btn launch" [class.active]="filter.successfulLaunch" (click)="navigateTo('launch_success', true)">True</span>
      <span class="btn launch" [class.active]="filter.successfulLaunch !=null && !filter.successfulLaunch" (click)="navigateTo('launch_success', false)">False</span>

      <p class="successfulLaunch">Successful Landing</p>
      <p class="borderBottom"></p>

      <span class="btn launch" [class.active]="filter.successfullLanding" (click)="navigateTo('land_success', true)">True</span>
      <span class="btn launch" [class.active]="filter.successfullLanding !=null && !filter.successfullLanding" (click)="navigateTo('land_success', false)">False</span>

    </div>


    <div class="rightSide">
      <ul>
        <li *ngFor="let spaceProgram of spacePrograms">
          <div class="rocketImage">
            <img src="https://images2.imgbox.com/40/e3/GypSkayF_o.png" style="width:100%">
          </div>
          <strong>FalconSat #1</strong>
          <h5>Mission Ids:</h5>
          <ul id="missionId">
            <li>
              {{"list mission id"}}
            </li>
          </ul>

          <h5 class="launchHeading">Launch Year:</h5> <span id="launchYear">2006</span>

          <h5 class="launchHeading"> Successful Launch:</h5> <span id="launchYear">False</span>
          <h5 class="launchHeading"> Successful Landing:</h5> <span id="launchYear">{{"launch_landing"}}</span>
        </li>        
      </ul>
    </div>

  </div>
</div>